.hero-section {
  height: 100vh;
  position: relative;
  background: url('/images/icone/signature.svg') no-repeat left bottom;
  background-size: 20%;
}


.hero-bg {
  object-fit: cover;
  height: 100vh;
}


.carousel-caption {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
  padding: 20px 50px;
}


.carousel-caption h1 {
  font-size: 3rem;
  padding-right: 10%;
  padding-bottom: 5%;
}

.carousel-caption p {
  max-width: 600px;
  font-size: 1.5rem;
  padding-top: 2%;
}


.carousel-caption .btn-primary {
  background-color: #bf9874;
  border-color: #bf9874;
  font-weight: 500;
  border-radius: 0;
}

.carousel-caption .btn-primary:hover {
  background-color: #a6784e;
  border-color: #a6784e;
  padding-top: 10%;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #000;
  padding: 20px;
  border-radius: 50%;
  opacity: 0.7;
}



@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 0.9rem;
  }

  .carousel-caption {
    padding-top: 50px;
    text-align: left;
  }
}


.info-section {
  background-color: #eaf1fa;
  padding: 40px 0;

  .info-container {
    max-width: 1140px;
    margin: 0 auto;
  }

  .info-box {
    display: flex;
    gap:16px;
    padding:10px;

    .info-img {
      width: 40%;
      height: 40%;
      object-fit: contain;
      flex-shrink: 0;
      display: block;
    }

    h5 {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 4px;
      color: #080707;
    }

    p {
      font-size: 14px;
      color: #bf9874;
      margin: 0;
    }
  }
}


@media (max-width: 992px) {
  .hero-section {
    padding-left: 3%;

    .hero-content {
      max-width: 100%;

      .hero-text {
        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }
  }

  .info-box .info-img {
    width: 50%;
  }
}


@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
    height: auto;

    .hero-content {
      padding: 0;

      .hero-text {
        h5 {
          font-size: 0.9rem;
        }

        h2 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }

      .btn-primary {
        padding: 0.6rem 1.2rem;
        font-size: 0.95rem;
      }
    }
  }

  .info-box {
    text-align: center;

    .info-img {
      width: 50%;
    }
  }
}

