.meeting-section {
  background-image: url('/images/other/meetingbgimg.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;

  .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(255,255,255,1);
    z-index: 1;
  }

  .meeting-content {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 1rem;

    .meeting-heading {
      font-size: 1.5rem;
      font-weight: 600;
      font-family: 'Georgia', serif;
      color: #fff;

      @media (min-width: 576px) {
        font-size: 2rem;
      }

      @media (min-width: 768px) {
        font-size: 2.5rem;
      }

      @media (min-width: 992px) {
        font-size: 3rem;
      }

      @media (min-width: 1200px) {
        font-size: 3.5rem;  
        line-height: 1.3;
      }

      @media (min-width: 1400px) {
        font-size: 4rem; 
      }
    }
  }

  @media (min-width: 1200px) {
    padding: 3rem;

    .meeting-content {
      max-width: 900px;
      padding: 2rem 3rem;
    }
  }
}

.accordion-button::after {
  width: 1.25rem;
  height: 1.25rem;
  margin-left: auto; 
}

.accordion-button {
  background-color: #f9f9f9;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 1rem;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-button::after {
  transition: transform 0.3s ease;
}

.accordion-button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.border-accent {
  border-color: #c89b6e !important; 
}


  .accordion-body {
    color: #333;
    font-size: 1rem;

    @media (max-width: 576px) {
      font-size: 0.9rem;
    }
  }

  h1.heading {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    text-align: center;

    @media (min-width: 768px) {
      font-size: 2.5rem;
    }

    @media (min-width: 992px) {
      font-size: 3rem;
    }
  }

  .section-title {
    color: #bf9874;
    font-size: 1.2rem;

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }


.answer-section {
  background-color: #fff;
  padding: 3rem 1rem;
  text-align: center;

  h1 {
    font-family: 'Marcellus', serif;
    font-size: 2rem;
    color:rgb(12, 12, 12);
    margin-bottom: 1rem;

    @media (min-width: 576px) {
      font-size: 2.5rem;
    }

    @media (min-width: 768px) {
      font-size: 3rem;
    }

    @media (min-width: 1200px) {
      font-size: 4rem;
    }
  }

  p {
    color: #a1885f;
    letter-spacing: 1px;
    font-size: 1rem;
    margin-bottom: 1.5rem;

    @media (min-width: 576px) {
      font-size: 1.2rem;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }

  .accordion-button {
    font-weight: 600;
    font-size: 1rem;

    &:not(.collapsed) {
      background-color: #f7f7f7;
    }

    @media (max-width: 576px) {
      font-size: 0.95rem;
    }
  }
}
