.testimonial-section {
  background-color: #001025;
  color: white;


  .testimonial-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
    margin: 0 auto;
    overflow: hidden;
  }

  .testimonial-image {
    width: 50%;

    
  }

  .testimonial-content {
    width: 50%;
    background-image: url('/images/other/bgimg2.webp'); 
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: right bottom;
    padding-top: 10%;
  }
  .line-label {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;

  img {
    width: 160px; // Reduce if needed
    height: 2px;
    object-fit: contain;
  }

}

.label {
    text-transform: uppercase;
    color: #bf9874;
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding-top: 1%;
  } 
  
.title{
  font-family: 'marcellus';
  color: aliceblue;
  font-size: 3rem;
}

.description{
  font-family: 'marcellus';
  color: #829bbc;
  font-size: 1.1rem;

}

.author{
  font-size: 1.5rem;
  font-weight: bold;
}
.liner{
  padding-top: 10%;
}

  @media (max-width: 992px) {
    .testimonial-container {
      flex-direction: column;
    }

    .testimonial-image,
    .testimonial-content {
      width: 100%;
    }

    .testimonial-content {
      padding: 2rem;
    }
  }
}

